* {
  font-family: "Open Sans", arial, sans-serif;
}

body {
  background-color: #f0f0f0;
  padding: 0;
  margin: 0;
}

h1 {
  font-size: 2em;
  line-height: 1em;
}

a {
  color: #009090;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.clear {
  clear: both;
}

ul {
  list-style-type: none;
}

ul.bulleted {
  list-style-type: disc;
}

p.large {
  font-size: 1.5em;
}

ul.bubbles {
  float: right;
}

ul.bubbles li {
  background-color: #f0f0f0;
  display: inline-block;
  width: 6em;
  height: 3em;
  line-height: 3em;
  text-align: center;
  border-radius: 5%;
  border: 1px solid #dddddd;
  cursor: pointer;
  margin-right: 1em;
}

ul.bubbles li:hover,
ul.bubbles li.selected {
  background-color: #006666;
  border-color: #004444;
  color: #ffffff;
}

ul.nav_links {
  float: right;
  margin-top: 0;
}

ul.nav_links img {
  border: 1px solid #ffffff;
  padding: 5px;
  border-radius: 50%;
  width: 42px;
  height: 42px;
}

div.project_image {
  float: left;
  height: 17em;
  width: 17em;
  border-radius: 50%;
  background-position: center center;
  border: .1em solid #999999;
}

div.project_details {
  float: left;
  margin-left: 7%;
  width: 60%;
}

div.project_image.release_board {
  background-image: url('../images/release_board.png');
}

div.project_image.tyyp {
  background-image: url('../images/tyyp.png');
}

div.project_image.odt {
  background-image: url('../images/odt.png');
}

div.project_image.arc_calendar {
  background-image: url('../images/arc_calendar.png');
}

div.project_image.angle_ball {
  background-image: url('../images/angle_ball.png');
}

ul.nav_links img:hover {
  border: 1px solid #eeeeee;
}

ul.horizontal li {
  display: inline-block;
  margin-right: 1em;
}

a.view_on_github {
  display: inline-block;
  background-image: url('../images/GitHub-Mark-32px.png');
  width: 32px;
  height: 32px;
  border-radius: 50%;
}

a.github_icon {
  display: block;
  height: 32px;
  width: 32px;
  background-image: url('../images/GitHub-Mark-Light-32px.png');
}

a.linkedin_icon {
  display: block;
  height: 34px;
  width: 34px;
  background-image: url('../images/In-White-34px-TM.png');
}

section#header {
  background-color: #cccccc;
  padding: .7em 1em;
}

section#content {
  background-color: #cccccc;
  padding: 1em;
  border-bottom: .1em solid #999999;
}

section#projects h3 {
  color: #004444;
}

section#projects > ul {
  padding: 0 3%;
}

section#projects  > ul > li {
  border-bottom: .1em solid #CCCCCC;
  padding: 2em 0;
}