* {
  font-family: "Open Sans", arial, sans-serif;
}

.clear {
  clear: both;
}

ul {
  list-style-type: none;
}

ul.bulleted {
  list-style-type: disc;
}

p.large {
  font-size: 1.5em;
}

ul.bubbles li {
  display: inline-block;
  width: 6em;
  height: 6em;
  line-height: 6em;
  text-align: center;
  border-radius: 50%;
  border: 1px solid #eeeeee;
  cursor: pointer;
}

ul.bubbles li:hover {
  background-color: #fafafa;
}

ul.nav_links img {
  border: 1px solid #ffffff;
  padding: 5px;
  border-radius: 50%;
  width: 42px;
  height: 42px;
}

div.project_image {
  float: left;
  height: 17em;
  width: 17em;
  border-radius: 50%;
  background-position: center center;
  border: .1em solid #999999;
}

div.project_details {
  float: left;
  margin-left: 7%;
  width: 60%;
}

div.project_image.release_board {
  background-image: url('../images/release_board.png');
}

div.project_image.tyyp {
  background-image: url('../images/tyyp.png');
}

div.project_image.odt {
  background-image: url('../images/odt.png');
}

div.project_image.arc_calendar {
  background-image: url('../images/arc_calendar.png');
}

ul.nav_links img:hover {
  border: 1px solid #eeeeee;
}

ul.horizontal li {
  display: inline;
  margin-right: 1em;
}

section#projects > ul {
  padding: 0 3%;
}

section#projects  > ul > li {
  border-bottom: .1em solid #CCCCCC;
  padding: 2em 0;
}